<% unless @tweets.empty? %>
<% @tweets.each do |tweet| %>
  <li class='span4'>
  <div class="thumbnail" style='height:225px'>
    <a target="_blank" href="http://twitter.com/<%= tweet[:user][:screen_name] %>"><img style="width:48px" src="<%= tweet[:profile_image_url] %>" />
    </a><span id="<%= tweet[:id] %>" class="pull-right muted"></span>
    <div class="caption">
      <h4>
        <a target="_blank" href="http://twitter.com/<%= tweet[:user][:screen_name] %>"><%= tweet[:user][:name] %> 
        <span class="muted"> @<%= tweet[:user][:screen_name] %>
        </a>
      </span></h4>
      <p style="height:81px">
        <%= tweet[:text].gsub(@regex) {"<a href=" + $1+ "> " + $1+ " </a>"}.html_safe  %>
      </p>
      <a target="_blank" href="http://twitter.com/<%= tweet[:user][:screen_name] %>/status/<%= tweet[:id] %>">
        <button type='button' class='btn btn-primary pull-right'>Pair With Me</button>
      </a>
    </div>
  </div>
</li>
<script>
  $("#<%=tweet[:id] %>").text(moment("<%= tweet[:created_at] %>").fromNow())
</script>
<% end %>
<% else %>
  <div class="well muted" style="width:50%; margin:0 auto">No results for <%= @search %>.<br> Maybe try one of the other choices on the left, or another search.</div>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42130711-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>
