<!-- /((([A-Za-z]{3,9}:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?)/ -->
<% unless @tweets.empty? %>
<% @tweets.each do |tweet| %>
  <li class='span4'>
  <div class="thumbnail" style='height:225px'>
    <a target="_blank" href="http://twitter.com/<%= tweet[:user][:screen_name] %>"><img style="width:48px" src="<%= tweet[:profile_image_url] %>" />
    </a><span id="<%= tweet[:id] %>" class="pull-right muted"></span>
    <div class="caption">
      <h4>
        <a target="_blank" href="http://twitter.com/<%= tweet[:user][:screen_name] %>"><%= tweet[:user][:name] %> 
        <span class="muted"> @<%= tweet[:user][:screen_name] %>
        </a>
      </span></h4>
      <p style="height:81px">
        <%= tweet[:text].gsub(/(((([A-Za-z]{3,9}:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?))/) {"<a href=" + $1+ "> " + $1+ " </a>"}.html_safe  %>
      </p>
      <a target="_blank" href="http://twitter.com/<%= tweet[:user][:screen_name] %>/status/<%= tweet[:id] %>">
        <button type='button' class='btn btn-primary pull-right'>Pair With Me</button>
      </a>
    </div>
  </div>
</li>
<script>
  $("#<%=tweet[:id] %>").text(moment("<%= tweet[:created_at] %>").fromNow())
</script>
<% end %>
<% else %>
  <div class="well muted" style="width:50%; margin:0 auto">No results for <%= @search %>.<br> Maybe try one of the other choices on the left, or another search.</div>
<% end %>