<!doctype html>
<html>
<head>
  <title>Pairwithme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
      <div class="navbar">
          <div class="navbar-inner"> <a class="brand" href="/">Pair With Me</a>

              <ul class="nav" style="float:right">
                  <li class="divider-vertical"><a target="_blank" href="http://twitter.com/martyhines/" class="btn-small">Made By @martyhines</a>

                  </li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="span3">
              <ul class="nav nav-list">
                <li class="nav-header">Technologies</li>
                  <li class="<%= 'active' if @search == 'all' %>"><%= link_to 'All' ,'/'%>
                  </li>
                <% @technologies.each do |term, display_name| %>
                  <li class="<%= 'active' if @search == term.to_s %>"><%= link_to display_name, "/#{term}"%>
                  </li>
                <% end  %>
                  <li class="nav-header">Search</li>
                  <li class="divider"></li>
                  <li>
                  <%= form_tag('/search') do -%>
                    <div><%= search_field_tag 'search', nil, :class =>"input-medium search-query", :placeholder => "search" ,"x-webkit-speech" => "true" %></div>
                  <% end -%>
                  </li>
              </ul>
          </div>
          <div class="span9">
            <ul id="thumbs" class="thumbnails"> <%= yield %> </ul>
          </div>
          </div>
      </div>
</body>
</html>
